@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/poppins-regular.woff2") format("woff2"),
       url("../fonts/poppins-regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/poppins-medium.woff2") format("woff2"), 
       url("../fonts/poppins-medium.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/poppins-semibold.woff2") format("woff2"), 
       url("../fonts/poppins-semibold.woff") format("woff"); 
}

@tailwind base;
@tailwind components;
@tailwind utilities;